$breakpoints: (
    xs: 0,
    sm: 600px,
    md: 960px,
    lg: 1280px,
    xl: 1920px,
);

@mixin breakpoint($size) {
    $value: map-get($breakpoints, $size);
    @if $value {
        @media (min-width: $value) {
            @content;
        }
    }
}

@mixin vertical-breakpoint($size) {
    $value: map-get($breakpoints, $size);
    @if $value {
        @media (min-width: $value) {
            @content;
        }
    }
}
