node_modules
.idea
.log
.beyond
.nyc_output
package-lock.json

!lib/client/browser/node_modules
!lib/client/browser/kernel/node_modules
!lib/dashboard/node_modules

beyond_backend/
beyond_dependencies/
beyond_libraries/
beyond_modules/
tests/blank/builds
/tests/typescript/.beyond
applications/testing-app/modules/node_modules
applications/empty-app
applications/*/.beyond
applications/**/.build

lib/dashboard/.beyond
lib/dashboard/application/builds

test-cases/builders/files/apps
/tests/react-transitions/
/source/app/test*
/source/test*
/trash
