@import '~template/sass/mixins/set-media';

code *,
pre * {
	font-size: 14px;
}

.inline-code,
code.inline,
span.inline {
	display: inline-flex;
	padding: 0 5px;
	color: var(--accent-color);

	&:before {
		content: '`';
	}

	&:after {
		content: '`';
	}
}
