@import "~template/sass/mixins/set-media";

code *, pre * {
  font-size: 14px;
}

.inline-code, code.inline, span.inline {
  display: inline-flex;
  padding: 0 5px;
  color: var(--accent-color);

  &:before {
    content: "`";
  }

  &:after {
    content: "`";
  }
}

.page__main-content {
  padding: 2rem;
  @include set-media('small-screen', false, max) {
    padding: 2rem;
  }

  h1, h2, h3, h4, h5, h6 {
    color: var(--text-title-color);
  }

  .border-icon {
    margin: 3px;
    border: 1px solid var(--color-gray-20);
  }

  p, ul, li, a {
    &:not(pre, code) {
      font-size: 1rem;
      line-height: 1.8rem;
    }
  }

  ul {
    padding-left: 30px;
  }

  p, .content {
    &:first-letter {
      text-transform: uppercase;
      //padding-left: 30px;
    }
  }

  .beyond-element-image {
    box-shadow: var(--shadow-4);
  }

  .beyond {
    color: var(--primary);

  }

  a {
    color: var(--primary);
  }
}
