.block__note {
  border: 1px solid var(--color-yellow-90);
  padding: 15px;
  border-left-width: 8px;
  background: var(--color-yellow-30);
  font-size: 1.2rem;
  color: var(--gray-darker);
  line-height: 1.8rem;
  margin: 30px 0;
  box-shadow: var(--shadow-4);
  border-radius: 4px;

}

[data-beyond-mode="dark"] {
  .block__note {
    background: var(--secondary-dark);
    box-shadow: -5px -5px 30px 5px var(--secondary-darker),
    5px 5px 30px 5px var(--secondary-darker);
    color: var(--text-color) !important;
    border: 1px solid var(--secondary-light);
    border-left-width: 8px;
  }
}

.page__main-container {
  display: grid;
  grid-template-columns: 1fr 250px;
  gap: 15px;

  .page__main-content {
    max-width: 100%;
    overflow: hidden;
  }

  @include set-media('small-screen', false, max) {
    grid-template-columns: 1fr;

    aside {
      display: none;
    }
  }

  .beyond-element-image {
    padding: 0;
    margin: 0;

    img {
      width: 100%;

    }
  }

}

