@import "~template/sass/mixins/set-media";

.block__note {
  background: var(--app-surface-notes);
  padding: 15px;
  border-left-width: 8px;
  color: var(--text-on-primary);
  line-height: 1.8rem;
  margin: 30px 0;
  border-radius: var(--border-radius-base);

}

.page__main-container {
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr;

  aside {
    display: none;
  }

  .page__main-content {
    max-width: 100%;
    overflow: hidden;
  }

  @include set-media('md-screen', false, 'min') {
    grid-template-columns: 1fr 250px;
    aside {
      display: block;
    }
  }

  .beyond-element-image {
    padding: 0;
    margin: 0;

    img {
      width: 100%;

    }
  }

  @include set-media('mobile', false, 'max') {
    margin-top: 50px;
  }

}

