@use "~template/sass/mixins";

.layout-container {
  height: 100vh;
  overflow: hidden;
}

.docs-page {

  margin-top: 60px;
  @include mixins.set-media('small-screen', false) {
    display: grid;
    grid-template-columns: 200px 1fr;
    min-height: 100%;
  }
  @include mixins.set-media('md-screen', false, 'min') {
    display: grid;
    grid-template-columns: 250px 1fr;
    min-height: 100%;
  }

}
