header.home__header .header__content {
  max-width: 700px;

  .main__title {
    padding: 4rem 0;
  }

  .pre__title {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-300) var(--unnamed-font-size-26)/var(--unnamed-line-spacing-30) var(--unnamed-font-family-rubik);

    color: var(---primary-light-color-e58165);
  }

  h1 {
    margin: 5px 0;
    text-align: left;
    font-size: 43px;
    font-family: var(--title-font);
    letter-spacing: -0.43px;
    color: var(--text-color);
    opacity: 1;

    .special-text {
      padding-left: 10px;
      padding-right: 10px;
      display: inline-flex;
      color: var(--app-accent-color);
      @media (max-width: 800px) {
        font-size: 2.2rem;
      }

      position: relative;

      &:after {

        position: absolute;
        content: " ";
        bottom: 0;
        width: calc(100% - 20px);
        left: 10px;
        right: 10px;
        background: var(--app-accent-color);
        height: 2px;
      }
    }
  }

  .header__description {
    font-size: 1.3rem;
  }

}
