header.home__header .header__content {
  max-width: 700px;

  .main__title {
    padding: 4rem 0;
  }

  .pre__title {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-300) var(--unnamed-font-size-26)/var(--unnamed-line-spacing-30) var(--unnamed-font-family-rubik);
    letter-spacing: var(--unnamed-character-spacing--0-26);
    color: var(---primary-light-color-e58165);
  }

  h1 {
    margin: 5px 0;
    text-align: left;
    font-size: 43px;
    font-family: var(--title-font);
    letter-spacing: -0.43px;
    color: #FFFFFF;
    opacity: 1;

    span {
      background: var(--app-primary-text-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    strong {
      padding: 1.2rem 0 0;
      display: flex;
      color: var(--primary-light) !important;
      @media (max-width: 800px) {
        font-size: 2.2rem;
      }
    }
  }

  .header__description {
    font-size: 1.3rem;
  }

}
