.home__header {
  z-index: 2;

  .header-content__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;

    @media (max-width: 900px) {
      grid-template-columns: 60% auto;
    }
    @media (max-width: 400px) {
      grid-template-columns: 1fr;
    }
  }

}
