.home__header {
  z-index: 1;
  position: relative;
  aspect-ratio: 16 / 7;
  margin: 1rem auto auto;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
  font-family: var(--header-font);
  display: grid;
  grid-template-columns: 55% 1fr;

  @media (max-width: 800px) {
    aspect-ratio: 9 / 16;
    align-items: center;
    justify-items: center;
  }


  @media (max-width: 900px) and (min-height: 600px) {
    aspect-ratio: 16/4;
    max-height: 700px;
  }


}
