.home__header {
	.header__banners {
		width: 100%;
		margin: auto;
		margin-top: 2rem;

		position: relative;

		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1.2rem;

		picture,
		svg {
			width: 100%;
			height: auto;
			path#github {
				fill: var(--gh-icon-color) !important;
			}
		}

		figcaption {
			justify-self: center;
			display: grid;
			grid-gap: 0.5rem;
		}
		@media (min-width: 900px) {
			max-width: 800px;

			figcaption {
				justify-content: end;
				justify-self: end;
			}
		}
	}
}
