@import "~template/sass/mixins/set-media";

.top__header {
  display: flex;
  justify-content: end;
  margin: 0 0 -72px;

  z-index: 12;
  flex-shrink: 1;
  align-items: center;
  align-content: center;

  .menu-container {
    z-index: 3;
  }

  .header__menu {
    z-index: 12;
    list-style: none;
    height: 100%;
    display: flex;
    gap: 15px;
    padding: 0 1rem;
    margin: 0;
    align-items: center;
    align-content: center;
    flex-shrink: 1;
    font-family: var(--font-family);

    li {
      list-style: none;
      position: relative;
      padding: 5px;

      &:after {
        position: absolute;
        bottom: -5px;
        left: 0;
        right: 0;
        width: 0;
        content: " ";
        transition: width 300ms;
        height: 1px;
        background: var(--accent-color);
      }

      a {
        text-decoration: none;
      }

      &:hover {
        &:after {
          width: 100%;
        }

      }
    }
  }

  @keyframes exit {
    from {
      width: 100%;
    }
    to {
      width: 0;
      display: none;
    }

  }

  @keyframes move-to-right {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }

  }
}
