$height: 130%;
$width: 70%;

.beyond__icon {
  //border: 1px solid red;
  height: $height;
  width: $width;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -10%;
  position: absolute;
  top: 0;
  right: 0;
  fill: var(--app-icon-bg);
  opacity: .6;
  z-index: -1;
}
