.code__box {
  border: 1 ps solid var(--color-gray-80);
  display: grid;
  background: var(--color-gray-80);

  border-radius: var(--border-radius-base);
  overflow: hidden;
  grid-template-rows: auto 1fr;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  header {
    background: var(--secondary-dark);
    display: flex;
    padding: 0;
    flex-grow: 1;
    gap: 1rem;

    .tab {
      padding: 1rem;
      background: var(--app-editor-bg);
      color: var(--text-on-primary);
    }

    .box__buttons {
      display: flex;
      gap: 8px;

    }
  }

  .box__code {
    pre {
      height: 100%;
      padding-top: 0;
      margin: 0;
    }
  }
}
