.header__banner__container {
    .separator-lines {
        height: 1px;
        border-top: 1px dotted var(--element-border-color);
        top: 49%;
        left: 0;
        right: 0;
        position: absolute;
        z-index: -2;
        flex-grow: 1;
    }
    .separator__container,
    .separator {
        flex-shrink: 0;
        flex-grow: 1;
        align-self: center;
    }
    .separator__container {
        padding-right: 1rem;
    }
    .separator {
        border: none;
        border-top: 1px dashed var(--element-border-color);
        height: 1px;

        &.pre-backet {
            padding-right: 1rem;
        }
    }
    .separator-backet {
        position: absolute;
        top: 25%;
        height: 50%;
        left: -1rem;
        border: 1px dashed var(--element-border-color);
        border-right: none;
        width: 1rem;
        backface-visibility: hidden;
    }
}
