.header__banner__container {
    .card {
        border-radius: var(--border-radius-base);
        border: 1px solid var(--element-border-color);
        display: grid;
        align-items: center;
        background: var(--surface);
        header,
        .content {
            display: grid;
            padding: 0 2rem;
            .h3 {
                margin-left: calc(-2rem - 3px);
                border-left: 2px solid var(--primary);
                padding-left: 2rem;
            }
        }
        .beyond-icon {
            height: 2rem;
            aspect-ratio: 1/1;
        }
    }
}
