@import "~template/sass/mixins/set-media";
.getting_started__section {
    background: var(--surface);
    margin: 0 auto;
    padding: 2rem 1rem;
    gap: 3rem;
    border: 1px solid var(--element-border-color);
    border-radius: var(--border-radius-base);
    div {
        display: grid;
        grid-gap: 2rem;
    }
    @include set-media("mobile", false, "max") {
        div,
        section {
            text-align: center;
            display: grid;
            justify-items: center;
        }
    }
}
