@import "~template/sass/mixins/set-media";
.feature__list {
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    justify-content: space-between;
    gap: 0.5rem;
    width: 100%;

    .feature__item {
        svg {
            aspect-ratio: 1/1;
            width: 25px;
            height: 25px;
        }

        h4 {
            margin: 1rem 0 1rem 0;
            font-size: 1.3rem;
            line-height: 1.7rem;
        }
    }

    @include set-media("mobile", false, "max") {
        .feature__item {
            text-align: center;
            svg {
                height: 3rem;
                width: 3rem;
            }
        }
    }
}
