@import "~template/sass/mixins/set-media";
.what-is__section {
    // TODO APPLY SVG
    background: linear-gradient(90deg, rgba(21, 68, 136, 1) 0%, rgba(18, 45, 83, 1) 59%);
    display: grid;
    grid-template-columns: 25% 1fr;
    background: url("images/home/what-is-xd.png") center no-repeat;
    border-radius: var(--border-radius-base);
    background-size: 100%;
    color: var(--text-on-primary);
    padding: 2rem;
    grid-gap: 3rem;
    grid-gap: 3rem;
    h3,
    p.h4 {
        color: var(--text-on-primary);
    }
    .left,
    .right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    @include set-media("small-screen", false, max) {
        grid-template-columns: 1fr;
        width: auto;
        background: linear-gradient(90deg, rgb(21, 68, 136) 0%, rgb(18, 45, 83) 59%);
        .flex-container {
            align-items: center;
            flex-direction: column;
        }
    }
}
