@import "~template/sass/mixins/set-media";
.what-is__section {
    // TODO APPLY SVG
    // background: linear-gradient(90deg, rgba(21, 68, 136, 1) 0%, rgba(18, 45, 83, 1) 59%);

    display: grid;
    grid-template-columns: 25% 1fr;
    background: url("images/home/what-is-xd.png") center no-repeat;
    border-radius: var(--border-radius-base);
    background-size: 100%;

    &.page-section {
        padding: 4rem auto;
    }

    min-width: min-content;
    grid-gap: 3rem;
    grid-gap: 3rem;

    .left,
    .right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    @media (max-width: 1024px) {
        width: 100%;
    }
    @include set-media("small-screen", false, max) {
        grid-template-columns: 1fr;
        background: linear-gradient(90deg, rgba(21, 68, 136, 1) 0%, rgba(18, 45, 83, 1) 59%);
        .flex-container {
            align-items: center;
            flex-direction: column;
        }
    }
}
