@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

:root {

  --font-family: 'Roboto', sans-serif;
  --secondary-font-family: 'Roboto', sans-serif;
  --title-font: 'Roboto', sans-serif;

  --gray-base: #000000;
  --gray-darker: #333333;
  --gray-dark: #5E5F5C;
  --gray: #82837F;
  --gray-light: #E4E5DC;
  --gray-lighter: #F0F0F0;

  --primary: #FF8056;
  --primary-dark: #E36152;
  --primary-light: #FFA789;
  --primary-accent: #E36152;
  --text-on-primary: #fff;

  --secondary: #121F36;
  --secondary-dark: #121F36;
  --secondary-light: #313C50;
  --secondary-accent: #F7C700;
  --text-on-secondary: #FFFFFF;

  --background: var(--gray-lighter);
  --text-color: var(--gray-darker);
  --element-bg: #fff;
  --border: #DDDDDD;
  --border-variant: #eeeeee;
  --text: #fff;
  --success: #6AAC7D;
  --warning: #F7C700;
  --error: #f04141;
  --chat-online: #43fc22;
  --preload-bg: var(--secondary);
}
