.about__header {
  position: relative;

  svg {
    animation: 5s rotateA infinite forwards;
  }

}

@keyframes rotateA {
  from {
    transform: rotateX(0deg) rotateY(0deg);

  }
  50% {
    transform: rotateX(20deg);
  }
  to {
    //transform: rotate3d(1, 1, 1, 360deg);
    transform: rotateX(0deg) rotateY(0deg);

  }
}
