.start-now.beyond-icon-button {
	background: var(--primary);
	border-radius: 5px;

	font-size: 1rem;
	font-weight: 200;
	font-family: var(--font-family);
	color: var(--text-on-primary);

	width: 10.5rem;
	min-width: 162px;
	height: 2.97rem;

	margin: 0;
	padding: 0.4rem 1rem 0.4rem 0.8rem;

	display: flex;
	justify-content: space-between;
	position: relative;

	.beyond-icon {
		fill: var(--text-on-primary);
		transform: rotate(180deg);

		position: absolute;
		right: 0.8rem;
	}
}
