.start-now.beyond-icon-button {
	background: var(--primary);
	border-radius: 5px;

	font-size: 1rem;
	font-weight: 200;
	font-family: var(--font-family);
	color: var(--text-on-primary);

	width: 11rem;
	height: 2.97rem;

	margin: 0;
	padding: 0.4rem 0.8rem;

	display: flex;
	flex-direction: row-reverse;
	gap: 0.5rem;

	.beyond-icon {
		background-color: red; // TODO APPLY SVG
	}
}
