@use "~template/sass/mixins";

.cards__container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-gap: 2rem;

  .accent {
    color: var(--accent-color);
  }

  .docs__card {
    $padding: 1.5rem;
    text-decoration: none;
    background: var(--app-element-surface);
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-items: center;
    border: var(--app-element-border-color-1) 1px solid;
    border-radius: var(--border-radius-base);
    justify-content: space-between;
    transition: all 200ms ease-in;
    padding-top: $padding;

    .beyond-element-image {
      display: flex;
      justify-items: center;
      text-align: center;
      justify-content: center;

      img {
        height: 50px;
        aspect-ratio: 1/1;
      }
    }

    header {
      width: 100%;

      .beyond-element-image {
        padding: 1rem $padding;
      }

      h3 {
        border-left: 1px solid var(--primary);
        text-align: center;
        padding: 0.5rem 1rem;
      }
    }

    section {
      padding: 0 $padding $padding;
    }

    &:hover {
      .beyond-element-image, section {
        padding-left: 1rem;
        padding-right: 2rem;
        transition: 300ms ease-in all;
      }

      h3 {
        padding: 0.5rem 1rem;
        transition: 300ms ease-in all;
        width: calc(100% - 2rem);
      }

      background: var(--app-element-hover-surface);
    }

  }

  @media(max-width: 1000px) and (min-width: 601px) {

    .docs__card {
      display: grid;
      grid-template-columns: 30% auto;
      grid-gap: 2rem;

      header {
        display: grid;
        align-content: center;
        justify-items: center;

        h3 {
          width: 100%;
          font-size: 1.2rem;
        }
      }
    }
  }

  @media (max-width: 1000px) {
    grid-auto-flow: row;
  }
  @media (min-width: 801px) and (max-width: 1200px) {
    grid-gap: 1rem;
  }

  @media (min-width: 1000px) {
    .docs__card header {
      h3, .beyond-element-image {
        display: flex;
        text-align: left;
        padding: 0.5rem 2rem;
        justify-content: start;
        justify-items: start;

      }
    }
  }

}

