@use "~template/sass/mixins";

.cards__container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-gap: 2rem;
  padding: 2rem;
  width: calc(100% - 4rem);

  .accent {
    color: var(--accent-color);
  }

  .docs__card {
    text-decoration: none;
    background: var(--app-element-surface);
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    //flex-grow: 1;
    border-radius: var(--border-radius-base);
    justify-content: space-between;
    transition: all 200ms ease-in;

    &:hover {
      background: var(--app-element-hover-surface);
      padding-left: 1.5rem;
      padding-right: 3.5rem;
    }

    h3 {
      padding: 0;
      margin: 0 0 1rem;
      text-transform: uppercase;
      font-size: 1.5rem;
      @include mixins.text-gradient(var(--app-dark-text-gradient));

    }

  }

  @media(max-width: 800px) {
    grid-auto-flow: row;
  }
  @media (min-width: 801px) and (max-width: 1200px) {
    grid-gap: 1rem;
    .docs__card {
      padding: 1rem;
    }
  }
  @media(min-width: 1000px) {
    padding: 2rem 0;
  }
}

