@use "~template/sass/mixins";

.cards__container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-gap: 2rem;

  .accent {
    color: var(--accent-color);
  }

  .docs__card {
    text-decoration: none;
    background: var(--app-element-surface);
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    //flex-grow: 1;
    border: var(--app-element-border-color-1) 1px solid;
    border-radius: var(--border-radius-base);
    justify-content: space-between;
    transition: all 200ms ease-in;

    .beyond-element-image img {
      height: 50px;
      aspect-ratio: 1/1;
    }

    &:hover {
      background: var(--app-element-hover-surface);
      padding-left: 1.5rem;
      padding-right: 3.5rem;
    }

    h3 {
      padding: 0;
      margin: .5rem 0 1rem;
      font-size: 1.5rem;
      @include mixins.text-gradient(var(--app-dark-text-gradient));
    }

  }

  @media(max-width: 1200px) and (min-width: 601px) {

    .docs__card {
      display: grid;
      grid-template-columns: 30% auto;
      grid-gap: 2rem;

      header {
        display: grid;
        align-content: center;
        justify-content: center;
        justify-items: center;

        h3 {
          font-size: 1.2rem;
        }
      }
    }
  }

  @media (max-width: 1000px) {
    grid-auto-flow: row;
  }
  @media (min-width: 801px) and (max-width: 1200px) {
    grid-gap: 1rem;

  }

}

