.content {
  h1, h2, h3, h4, h5, h6 {
    color: var(--text-title-color);
  }

  p, ul, li, span, a {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }

  .beyond-element-image {
    box-shadow: var(--shadow-4);
  }
}
