.next__content {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid var(--secondary-accent);

  &.link__content {
    display: grid;
    justify-content: right;

    ul {
      cursor: pointer;
      padding: 0;
      text-align: right;

      li {
        list-style: none;
        margin: 5px;
        text-align: right;
        display: flex;
        justify-content: right;

        a {
          text-decoration: none;
          display: flex;
          padding: 2px 8px;
          color: var(--primary-light);

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
