.beyond-element-image {
  transition: 200ms ease-in all;
  cursor: pointer;

  &:hover {
    opacity: .8;

  }

}

.modal-content {
  .beyond-element-image {
    @include set-media('tablet', false, max) {
      max-width: 90%;
    }
  }
}
