@use "~template/sass/mixins";

.page-section {
    margin: 2rem auto;
    padding: 2rem;
    width: calc(100% - 4rem);

    > header {
        .pretitle + h2,
        .pretitle + h3,
        .pretitle + h1 {
            margin-top: 0;
        }
        margin-bottom: 5rem;
    }
}
