@import "~template/sass/mixins/set-media";

@mixin relative-absolute() {
  position: absolute;
  @content ;
  @include set-media('tablet', false, 'max') {
    position: relative;
  }
}

.block__features.realtime-section {

  .flex-container {
    display: flex;
    flex-direction: column;
  }

  .flex-vertical {
    display: flex;
    flex-direction: row;
  }

  svg {
    height: 100px;
    width: 100px;
    aspect-ratio: 1/1;

  }

  .icon-graphic-container {

    @include relative-absolute {
      top: 50%;
      transform: translate(0, -50%);
    }

  }

  .icons-graphic {
    position: relative;
    width: 100%;

    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;

    .icon-mobile {
      top: -50px;
      right: 0;
    }

    .icon-arrow {
      height: 60px;
      padding-top: -30px;

      &.server-to-mobile {
        transform: rotate(45deg);
      }

      &.server-to-desktop {
        transform: rotate(135deg);
      }
    }

    .icon-desktop {
      position: absolute;
      bottom: -40px;
      right: 40px;
    }

  }

  @include set-media('mobile', false, 'max') {
    .icons-graphic {
      height: auto;

      .icon-mobile {
        top: -50px;
      }
    }
    svg {
      height: 70px;
      width: 70px;
    }
    .icon-arrow {

      &.server-to-mobile {
        transform: rotate(35deg);
      }

      &.server-to-desktop {
        transform: rotate(135deg);
      }
    }

  }

  @include set-media('desktop', false, min) {
    & > div {
      &:nth-child(1) {
        order: 2;
      }

      &:nth-child(2) {
        order: 1;
      }

      &:nth-child(3) {
        order: 3;
      }
      .icon-graphic-container {

      }
    }
  }
  @include set-media('tablet', false, max) {
    & {
      //display: flex !important;
      //flex-shrink: 1;
      //flex-grow: 0;
      display: grid;
      grid-template-columns: 1fr;

      .icon-graphic-container {
        position: relative;

        .icons-graphic {
          height: auto;
        }
      }

      .relative-container {
        //order: 1;
      }
    }
  }
}
