@import "~template/sass/mixins/set-media";

.realtime-section {

  .top-img {

    .beyond-element-image {
      min-height: 150px;

      img {
        object-fit: contain;
        min-height: 150px;
        object-position: center;
      }
    }
  }

  @media(max-width: 600px) {
    .top-img {
      width: 100% !important;
      padding: 0;
      margin: 0;
    }
    .content {
      padding-top: 0 !important;
    }
  }
}
