@use "~template/sass/mixins";

.separator {
  display: block;

  &.rem--2 {
    padding-top: 2rem;
  }

  &.rem--1 {
    padding-top: 1rem;
  }

  &.rem--3 {
    padding-top: 3rem;
  }

  &.rem--4 {
    padding-top: 4rem;
  }

}

p, ul, li {
  font-size: 1.1rem;
  line-height: 2rem;
}

.p2 {
  line-height: 1.4rem;
  letter-spacing: .2px;
}

a {
  color: var(--app-link-color);
  cursor: pointer;
  transition: all 200ms linear;
  text-decoration: none;
  position: relative;

  &:not(.link-more) {
    text-underline-offset: 1.5px;
    text-decoration: underline;
  }

  &:hover {
    color: var(--app-link-hover-color);
  }
}

.text-center {
  text-align: center;
}

.banner__icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;

  .beyond-icon {
    height: 90px;
    width: 90px;
    @include mixins.set-media('mobile', false, max) {
      height: 50px;
      width: 50px;
    }
  }
}

.mv-200 {
  margin: 14rem auto;
  @include mixins.set-media('desktop', false, min) {
    margin: 7rem auto;
  }
}

.flex-container {
  &.flex-h-end {
    justify-items: end;
    justify-content: end;
    flex-grow: 1;

  }
}

.page__footer {
  padding: 2rem;
  border-top: 1px solid var(--app-element-border-color-1);
  width: calc(100% - 2rem * 2);
  max-width: 1376px;
  margin: auto;
}

.hidden-mobile {

  @include mixins.set-media('tablet', false, 'max') {
    display: none;
  }
}

/**
 p : primary
 s : secondary
 l : light
 d : dark
 g : gradient
 */
.text-plg {
  @include mixins.text-gradient(var(--app-primary-text-gradient));
}

.text-sdg {
  @include mixins.text-gradient(var(--app-primary-text-gradient));
}

.text-slg {
  @include mixins.text-gradient(var(--app-primary-text-gradient));
}

.text-pdg {
  @include mixins.text-gradient(var(--app-primary-text-gradient));
}
