
.layout-container {
  height: 100vh;
  overflow: hidden;
}

.main-widget {
  height: 100%;
}

.docs-page {

  padding: 2rem;
  @media (min-width: 1200px) {
    display: grid;
    grid-template-columns: 240px 1fr;
    min-height: 100%;
  }

}
