@use "container";
@use "~template/sass/mixins/set-media";

.top__header {
  display: flex;
  justify-content: end;
  margin: 0 0 -72px;
  height: 60px;
  z-index: 12;
  flex-shrink: 1;
  align-items: center;
  align-content: center;
  position: sticky;
  top: 0;

  &.is-sticky {
    transition: 300ms ease-in all;
    background: var(--primary-surface);
  }

  &.home-header {

  }

  .mobile__header {
    a {
      display: grid;
      align-items: center;
    }
  }

  .menu-container {
    z-index: 3;

  }

  .menu-list__container {
    display: grid;

    margin: -10px 0; // negative margin to ignore the padding added by the container
  }

  .header__menu {
    z-index: 12;
    list-style: none;
    height: 100%;
    display: flex;
    gap: 15px;
    padding: 0 1rem;

    align-items: center;

    align-content: center;
    flex-shrink: 1;
    font-family: var(--font-family);

    li {
      list-style: none;
      position: relative;
      padding: 5px;
      height: 100%;
      display: flex;
      align-items: center;

      &:after {
        position: absolute;
        bottom: 2px;
        left: 0;
        right: 0;
        width: 0;
        content: " ";
        transition: width 300ms;
        height: 1px;
        background: var(--secondary-accent);
      }

      a {
        text-decoration: none;
        color: var(--app-header-link);

        &:after {
          display: none;
        }
      }

      &:hover {
        a {
          color: var(--secondary-accent);
        }

        &:after {
          width: 100%;
        }

      }
    }
  }
}
