.pre__title {
	font-weight: 200;
	font-size: 0.8rem;
	color: var(--secondary-text-color);
}

.main__title {
	color: var(--text-color);
	line-height: 2.4rem;
	font-size: 1.9rem;
	margin: 0;
}

.sub__title {
	font-size: 1.5rem;
	font-weight: lighter;
}
