$font-family: 'Roboto', sans-serif;
$secondary-font-family: 'Roboto', sans-serif;
$title-font: 'Roboto', sans-serif;

$gray-base: #000000;
$gray-darker: #333333;
$gray-dark: #5E5F5C;
$gray: #82837F;
$gray-light: #E4E5DC;
$gray-lighter: #F0F0F0;

$primary: #FF8056;
$primary-dark: #E36152;
$primary-light: #FFA789;
$primary-accent: #E36152;
$text-on-primary: #fff;

$secondary: lighten(#121F36, 5%);
$secondary-dark: #121F36;
$secondary-light: #313C50;
$secondary-accent: #F7C700;
$text-on-secondary: #FFFFFF;

$background: $secondary;
$background-variant: #fff;
$border: #DDDDDD;
$border-variant: #eeeeee;
$text: #fff;

$success: #6AAC7D;
$warning: #F7C700;
$error: #f04141;
$chat-online: #43fc22;
$preload: $secondary;

$border-radius: 4px;

$media-mobile: 480;
$media-sm: 768;
$media-medium: 1024;
$media-large: $media-medium + 1;
$medias: (
        "mobile": (320, 480),
        "tablet": (481, 768),
        "small-screen": (769, 1024),
        "large-screen": (1025, 1400)
);
//@use "sass:list";
//@use "sass:map";
//@mixin set-media($size: 'mobile', $between: false) {
//
//  $to-use: map.get($medias, $size);
//  $max-size: list.nth($to-use, 2);
//  $min-size: list.nth($to-use, 1);
//  @media(max-width: $max-size) {
//    background: red;
//  }
//}

@mixin set-media($size: 'tablet', $between: false, $glue: 'min') {

  $min: 320px;
  $max: 480px;

  @if $size == 'mobile' {
    $min: 320px;
    $max: 480px;
  } @else if $size == 'tablet' {
    $min: 481px;
    $max: 768px;
  } @else if $size == 'small-screen' {
    $min: 769px;
    $max: 1024px;
  } @else if $size == 'md-screen' {
    $min: 1025px;
    $max: 1200px;
  }@else if $size == 'large-screen' {
    $min: 1025px;
    $max: 1400px;
  }

  $to-set: $min;
  @if between == true {

    @media(min-width: $min) and (max-width: $max) {
      @content;
    }
  } @else {
    $to-set: $min;
    @if $glue == 'max' {
      $to-set: $max;
    }
    @media(#{$glue}-width: $to-set) {
      @content;
    }

  }

  content: "#{$glue}-width: #{$to-set}";

}


