$columns-gap: 15px !default;
.flex-center {
  place-content: center;
  place-items: center;
  display: flex;
  gap: $columns-gap;

  &-y {
    display: flex;
    align-items: center;
    align-content: center;
    gap: $columns-gap;
  }

  &-x {
    display: flex;
    justify-content: center;
    gap: $columns-gap;
  }
}

.flex-container, .f-container {
  display: flex;

  &.space-between, &.f-space-between {
    justify-content: space-between;
  }

}
