@mixin properties() {
  $secondary-bg: #000012;

  --primary: #FF8056;
  --primary-dark: #E36152;
  --primary-light: #FFA789;
  --primary-accent: #E36152;
  --text-on-primary: #fff;
  //--accent-color: #67AAF9;
  --accent-color: #FFA385;
  //secondary colors
  --secondary: #121F36;
  --secondary-dark: #030405;
  --secondary-darker: #0C1525;
  --secondary-light: #617096;
  --secondary-accent: #8E99BB;
  --text-on-secondary: #FFFFFF;
  --secondary-background: #{$secondary-bg};
  //background
  //--background: linear-gradient(#{ darken(#121F36, 0%)}, #{ darken(#121F36, 10%)});

  --text-color: rgba(255, 255, 255, .6);
  --text-title-color: var(--text-on-primary);
  --text-second-color: var(--gray-dark);
  --text-hover-color: var(--primary);
  --bg-element: var(--secondary-dark);
  --element-border-color: var(--gray-light);
  --separator-color: var(--gray-lighter);
  --app-aside-link-selected: #fff;
  --primary-surface: #101625;
  --background: #101625;
  //elements

  --app-element-surface: #{rgba(#000, .7)};
  --app-element-hover-surface: #{rgba(#030405, .5)};
  --app-element-border-color-1: var(--color-gray-80);
  --app-primary-text-gradient: linear-gradient(to right, var(--text-on-primary), var(--secondary-light));
  --app-secondary-text-gradient: linear-gradient(to right, var(--color-gray-10), var(--color-carbon-30));
  --app-dark-text-gradient: var(--app-secondary-text-gradient);
  --app-primary-color: var(--primary-dark);
  --app-icon-bg: #2b3853;
  --app-animation-color: #{darken(#2b3853, 5%)};; // primary-surface 800

  --app-link-color: var(--primary);
  --app-link-hover-color: var(--primary-dark);

  --app-insight-surface: var(--secondary-light-light);
  --app-link-hover-bg: #{rgba(#FF8056, .3)};
  --app-opacity-bg: rgba(0, 0, 0, .3);
  --app-surface-notes: var(--app-opacity-bg);
  --app-editor-bg: #1D2B3D;

  --app-scrollbar-color: var(--secondary-light);
  --app-scrollbar-track: var(--color-carbon-95);
  --app-accent-color: #617096;

}


