@mixin xd() {
  ---alert-e4c888: #E4C888;
  ---warning-eb8b6b: #EB8B6B;
  ---acept-6aac7d: #6AAC7D;
  ---acent-primary-color-edb2a3: #9E533E;
  ---primary-light-color-e58165: #E58165;
  ---primary-color-d9684a: #D9684A;
  ---primary-dark-color-ce421a: #CE421A;
  ---acent-secondary-color-acb6d4: #ACB6D4;
  --secondary-light-color-49536e: #424F6E;
  ---secondary-color-1f2940: #1F2940;
  ---secondary-dark-color-030405: #030405;
  ---g50: #FAFAFA;
  ---g100-f5f5f5: #F5F5F5;
  --g200-eeeeee: #EEEEEE;
  --g300-e0e0e0: #E0E0E0;
  --g400-d7d8cf: #BDBDBD;
  --g500-9e9e9e: #9E9E9E;
  --g600-82837f: #757575;
  --g700-616161: #616161;
  --g800-424242: #424242;
  --g900-212121: #212121;
  ---white-on-secondary-ffffff: #FFFFFF;
  ---balck-on-primary-000000: #000000;
  --unnamed-color-4d66a9: #4D66A9;
  --unnamed-color-7590da: #7590DA;

  /* Font/text values */
  --unnamed-font-family-rubik: Rubik;
  --unnamed-font-style-normal: normal;
  --unnamed-font-weight-300: 300px;
  --unnamed-font-weight-medium: medium;
  --unnamed-font-weight-normal: normal;
  --unnamed-font-size-12: 12px;
  --unnamed-font-size-13: 13px;
  --unnamed-font-size-14: 14px;
  --unnamed-font-size-16: 16px;
  --unnamed-font-size-18: 18px;
  --unnamed-font-size-20: 20px;
  --unnamed-font-size-22: 22px;
  --unnamed-font-size-24: 24px;
  --unnamed-font-size-26: 26px;
  --unnamed-font-size-36: 36px;
  --unnamed-font-size-43: 43px;
  --unnamed-character-spacing-0: 0px;
  --unnamed-character-spacing-1-04: 1.04px;
  --unnamed-character-spacing--0-16: -0.16px;
  --unnamed-character-spacing--0-22: -0.22px;
  --unnamed-character-spacing--0-26: -0.26px;
  --unnamed-character-spacing--0-24: -0.24px;
  --unnamed-character-spacing--0-36: -0.36px;
  --unnamed-character-spacing--0-43: -0.43px;
  --unnamed-character-spacing-1-3: 1.3px;
  --unnamed-character-spacing-0-28: 0.28px;
  --unnamed-line-spacing-18: 18px;
  --unnamed-line-spacing-23: 23px;
  --unnamed-line-spacing-24: 24px;
  --unnamed-line-spacing-30: 30px;
  --unnamed-line-spacing-54: 54px;
  --unnamed-text-transform-uppercase: uppercase;

}
