@use 'dark';
@use 'light';
@use 'xd';
@import 'material-design';

@import url(https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap);

:root {
	--sections-width: 1140px;
	--font-family: 'Rubik', sans-serif;
	--secondary-font-family: 'Roboto', sans-serif;
	--title-font: 'Rubik', sans-serif;
	--header-font: 'Rubik', sans-serif;
	--bg-header: var(--secondary-background);
	--gray-base: #000000;
	--gray-darker: #333333;
	--gray-dark: #5e5f5c;
	--gray: #82837f;
	--gray-light: #e4e5dc;
	--success: #6aac7d;
	--warning: #f7c700;
	--error: #f04141;
	--chat-online: #43fc22;
	--preload: $secondary;
	--border-radius-base: 8px;

	@include xd.xd();
	@include light.properties();

	@media (prefers-color-scheme: dark) {
		@include dark.properties();
	}
}

html[data-beyond-mode='light'] {
	@include light.properties();
}

html[data-beyond-mode='dark'] {
	@include dark.properties();
}
