@use 'dark';
@use 'light';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@800&display=swap');

:root {

  --font-family: 'Inter', sans-serif;
  --secondary-font-family: 'Roboto', sans-serif;
  --title-font: 'Roboto', sans-serif;
  --header-font: 'Assistant', sans-serif;
  --bg-header: var(--secondary-background);
  --gray-base: #000000;
  --gray-darker: #333333;
  --gray-dark: #5E5F5C;
  --gray: #82837F;
  --gray-light: #E4E5DC;
  --success: #6AAC7D;
  --warning: #F7C700;
  --error: #f04141;
  --chat-online: #43fc22;
  --preload: $secondary;

  --border-radius-base: 8px;
  --border-element-color-1: var(--gray-darker);
  --app-primary-text-gradient: linear-gradient(to right, var(--primary), var(--secondary));
  --app-secondary-text-gradient: linear-gradient(to right, var(--primary), var(--secondary-light));
  --app-dark-text-gradient: linear-gradient(to right, var(--color-carbon-10), var(--color-carbon-95));

  @include light.properties();

  @media(prefers-color-scheme: dark) {
    @include dark.properties();
  }

}

html[data-beyond-mode="light"] {
  @include light.properties();
}

html[data-beyond-mode="dark"] {
  @include dark.properties();
}

