#beyond-ui-dialogs-page {

  textarea {
    display: none;
  }

  span {
    display: grid;
  }

  button {
    margin-right: 5px;
  }

  pre {
    margin: 20px 0;
    padding: 15px;
    position: relative;
    transition: all 100ms ease-in-out;
    cursor: pointer;

    &:hover {
      background: #FF8056;
      color: white;
      transition: all 100ms ease-in;
    }

    &:before {
      content: 'Copy';
      position: absolute;
      padding: 15px 20px;
      top: 0;
      right: 0;
      background: $beyond-gray-darker-color;
      color: $beyond-gray-light-color;
    }
  }
}