@import "set-media";

.container--md {
    max-width: 900px;
    margin: auto;
}

.container-section {
    $width: 1376;
    width: calc(100% - 2rem);
    $result: calc($width / 12);
    $container: calc($result * 10);
    max-width: #{$container}px;
    @include set-media("tablet", false, max) {
        width: calc(100% - 4rem);
    }
}
.container,
.container--800 {
    margin: auto;
    padding: 15px;
    width: calc(100% - 2rem);
    max-width: 1376px;

    &.container-section {
        @extend .container-section;
    }
    &--800 {
        max-width: 800px;
        margin: auto;
    }

    &.grid-container {
        display: grid;
        grid-gap: 2rem;
    }

    &.no-pd {
        padding: 0;
        width: 100%;
    }

    &.no-mv {
        margin: 0 auto;
    }

    &.pd-x2 {
        padding: 2rem;
    }

    &.two-columns,
    &.three-columns {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr;
    }

    @include set-media("tablet", false, min) {
        &.two-columns {
            grid-template-columns: 1fr 1fr;
        }
        &.three-columns {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    @include set-media("tablet", false, "max") {
        padding: 15px;
    }
}
