$columns-gap: 15px !default;

.bg-secondary {
    background: var(--secondary);
    color: var(--text-on-secondary);
}

.bg-primary-accent {
    background: #000;
    color: var(--text-on-primary);
}

.pd-5 {
    padding: 5px;
}

.pd-15 {
    padding: 15px;
}
.overflow-visible {
    overflow: auto !important;
}

.app-md-icon {
    &,
    svg {
        height: 26px;
        width: 26px;
        aspect-ratio: 1/1;
    }
}
