@import "set-media";
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;500&display=swap");

:root {
    font-weight: lighter;
}

a {
    text-decoration: none !important;
}

h1,
.h1,
h2,
.h2 {
    color: var(--text-title-color);
    font-weight: normal;
    margin: 0;
}

h1,
.h1 {
    font-size: 2.7rem;
    line-height: 54px;
    letter-spacing: 0.43px;
    margin: 0 0 2rem;
}

h2,
.h2 {
    font-size: 2.65rem;
    line-height: 54px;
    letter-spacing: 0.43px;
    margin: 2rem 0;
}

h3,
.h3 {
    font-size: 2.3rem;
    font-weight: normal;
    line-height: 43px;
    letter-spacing: 0.35px;

    small {
        display: grid;
        font-size: 1rem;
    }
}
.pretitle {
    font-size: 0.85rem;
    color: var(--secondary);
    text-transform: uppercase;
}
h3,
h4,
.h3,
.h4 {
    &.regular {
        font-weight: lighter;
    }
    color: var(--text-color);
}

h4,
.h4 {
    font-size: 1.5rem;
    letter-spacing: 0.24px;
    line-height: 30px;
    font-weight: normal;
}
.pretitle-h1 {
    font-size: 1.65rem;
    line-height: 30px;
    color: var(--app-primary-color);
    letter-spacing: -0.26px;
}

figure {
    margin: 0;
    padding: 0;
}

.p1 {
    font-size: 18px;
    font-weight: lighter;
    letter-spacing: 0;
    line-height: 24px;
}

.p2 {
    font-size: 1rem;
    letter-spacing: 0.16px;
    font-weight: lighter;
    line-height: 24px;
}

p,
ul,
li {
    @extend .p2;
}
ul li {
    padding: 0.25rem;
}
.primary-color {
    color: var(--primary) !important;
}
.secondary-color {
    color: var(--secondary) !important;
}

.subtitle {
    font-size: 18px;
}

.t3 {
    font-size: 13px;
    text-transform: uppercase;
}

.secondary-accent {
    color: var(--secondary-accent);
}

@media (max-width: 600px) {
    h1,
    .h1 {
        font-size: 2.4rem;
        line-height: 44px;
    }
    h2,
    .h2 {
        font-size: 2.5rem;
        line-height: 44px;
    }
    h3,
    .h3 {
        font-size: 2rem;
        line-height: 44px;
    }
}

.mt-15 {
    margin-top: 15px !important;
    margin-bottom: 15px;
}

.text-center {
    text-align: center;
}

.button-text {
    font-size: 0.75rem;
}

.mt-50 {
    margin-top: 50px;
}
.mt-100 {
    margin-top: 100px;
}

.text-on-primary {
    color: var(--text-on-primary) !important;
}
