@import "~template/sass/mixins/set-media";
//header is showed on mobile sizes. check mobile.scss
.aside__header {
  display: flex;
  position: relative;
  flex-direction: column;
  border-bottom: 1px solid var(--separator-color);
  align-content: center;

  .menu-docs__mobile-header {
    display: none;
  }

  h4 {
    display: block;
    margin: 15px;
    padding: 0;
  }

  .mobile-only {
    display: none;
    @include set-media('mobile', false, max) {
      display: flex;
    }
  }

  .docs__menu__list__btn-close {

    position: absolute;
    right: 15px;
    height: 30px;
    width: 30px;
    background: transparent;

    svg {
      fill: var(--primary-accent)
    }

    @include set-media('md-screen', false, 'min') {
      display: none;
    }
  }

}

