.docs__menu__list {
  a {
    text-decoration: none;
    color: var(--text-color);

    &:hover {
      color: #fff;
    }
  }

  > .menu__item--parent > section a {
    color: var(--primary);
    margin-bottom: .5rem;
  }
}

.docs__menu__list {

  li {
    display: grid;
    cursor: pointer;
    align-items: center;

    > section {
      display: flex;
      gap: 5px;
      align-items: center;
      accent-color: var(--text-second-color);
      transition: 300ms all ease-in;
      padding: 4px 0;
      justify-content: space-between;

      .beyond-icon {
        fill: var(--text-color);
      }

    }

    &.item--opened {
      .beyond-icon {
        transform: rotate(90deg);
      }
    }
  }

  > li {
    &.menu__item--parent {
      > section > svg {
        display: none;
      }
    }
  }

}

