@import "~template/sass/mixins/set-media";
@import "~template/sass/mixins/global";

aside.docs__menu {
  flex-direction: column;
  z-index: 12;
  padding-top: 15px;
  position: sticky;
  top: 80px;
  border-right: 1px solid var(--element-border-color);
  @include set-media(tablet, false, 'max') {
    padding: 15px;
  }

  //@include shadow-1();

  * {
    color: rgba(var(--text-color), .9);
  }

  .docs__menu__list {
    * {
      font-size: .85rem;
    }

    --item-border: var(--primary);
    @include d-grid(5px);
    list-style: none;
    padding: 0;


    position: sticky;
    top: 0;
  }
}
