$media-mobile: 480;
$media-sm: 768;
$media-medium: 1024;
$media-large: $media-medium + 1;
$medias: (
        "mobile": (320, 480),
        "tablet": (481, 768),
        "small-screen": (769, 1024),
        "large-screen": (1025, 1400)
);
//@use "sass:list";
//@use "sass:map";
//@mixin set-media($size: 'mobile', $between: false) {
//
//  $to-use: map.get($medias, $size);
//  $max-size: list.nth($to-use, 2);
//  $min-size: list.nth($to-use, 1);
//  @media(max-width: $max-size) {
//    background: red;
//  }
//}

@mixin set-media($size: 'tablet', $between: false, $glue: 'min') {

  $min: 320px;
  $max: 480px;

  @if $size == 'mobile' {
    $min: 320px;
    $max: 480px;
  } @else if $size == 'tablet' {
    $min: 481px;
    $max: 768px;
  } @else if $size == 'small-screen' {
    $min: 769px;
    $max: 1024px;
  }

  @else if $size == 'md-screen' {
    $min: 1025px;
    $max: 1376px;
  } @else if $size == 'large-screen' {
    $min: 1377px;
    $max: 1400px;
  }

  $to-set: $min;
  @if between == true {

    @media(min-width: $min) and (max-width: $max) {
      @content;
    }
  } @else {
    $to-set: $min;
    @if $glue == 'max' {
      $to-set: $max;
    }
    @media(#{$glue}-width: $to-set) {
      @content;
    }

  }

  content: "#{$glue}-width: #{$to-set}";

}


