.docs__menu__list > li, .docs__menu__sublist > li {
  display: grid;
  cursor: pointer;
  align-items: center;

  section:hover span {
    color: var(--primary-accent)
  }

  > section {
    display: flex;
    gap: 5px;
    align-items: center;
    accent-color: var(--text-second-color);
    transition: 300ms all ease-in;
    padding: 4px 0;

    .beyond-icon {
      fill: var(--text-color);
    }

  }

  &.item--opened {

    .beyond-icon {
      transform: rotate(90deg);
    }

  }

}
