@import "~template/sass/mixins/set-media";
@import "~template/sass/mixins/global";

aside.docs__menu {
  flex-direction: column;
  @include set-media(tablet, false, 'max') {
    padding: 15px;
  }
  border-radius: var(--border-radius-base);

  * {
    font-size: .85rem;
  }

  z-index: 12;
  position: sticky;
  top: 65px;
  border-right: 1px solid var(--element-border-color);
  //@include shadow-1();

  * {
    color: rgba(var(--text-color), .9);
  }

  .docs__menu__list {
    --item-border: var(--primary);
    @include d-grid(5px);
    list-style: none;
    padding: 0;
    margin: 0;

    position: sticky;
    top: 0;
  }
}
