//$gradient-background: linear-gradient(darken($secondary-dark, 10%), darken($secondary-dark, 8%));
//me[data-beyond-mode="light"] {
//  $gradient-background: red;
//}

aside.docs__menu {
  flex-direction: column;
  padding: 15px;
  border-radius: $border-radius;

  * {
    font-size: 1rem;
  }

  z-index: 12;
  position: sticky;
  top: 65px;
  border-right: 1px solid var(--element-border-color);
  //@include shadow-1();

  * {
    color: rgba(var(--text-color), .9);
  }

  .docs__menu__list {
    --item-border: var(--primary);
    @include d-grid(5px);
    list-style: none;
    padding: 0;
    margin: 0;

    position: sticky;
    top: 0;
  }
}
