
.beyond-element-modal.image__modal {
  padding: 30px;

  .modal-content {
    width: 100%;
    max-width: 1200px;
    background: none;
    @media (max-width: 600px) {
      .modal-content {
        width: 90%;
        margin: auto;
      }

    }
  }

  .close-icon {
    background: var(--primary);
    color: var(--text-on-primary);
    padding: 8px 12px;
    display: flex;
    align-content: center;
    justify-content: center;
    border-radius: 50%;
    transition: all 200ms ease-in;
    right: -15px;
    top: -15px;

    &:hover {
      background: var(--primary-dark);
    }
  }

  .beyond-element-image {
    height: 100%;
    max-height: 60vh;
    max-width: 800px;
    margin: 0;

    img {
      height: 100%;
      width: 100%;
    }
  }
}
